# Cấu hình MongoDB Connection String
# Ví dụ local: mongodb://localhost:27017/report_lush
# Ví dụ MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/report_lush?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/report_lush

# Cổng khởi chạy cho local server
PORT=3000
